# Gradle
/.gradle
/build/
/run/

# ANT files
/bin/
/download/

# IDEA from Gradle
.idea/
/*.iml
/*.ipr
/*.iws

# Eclipse
/.classpath
/.metadata/
/.project
/.settings/
/debug/
*.lock

# Minecraft
/config/
/crash-reports/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/stats/
options.txt
ForgeModLoader*.log*
output-client.log*
output-server.log*

#Remove OS generated garbage
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db